<?xml version="1.0" encoding="utf-8"?>
<configlist>
    <serverconfig ipconfigid="0">
        <serverip>192.168.7.7</serverip>
        <serport>1000</serport>
        <serid>0</serid>
        <time>2014-03-23.15.07.41</time>
    </serverconfig>
    <shortcut />
    <rooms>
        <room roomid="0">0<roomname>前台</roomname><imgid>0</imgid>
<function functionid="0">0<name>安防控制</name><imgid>6</imgid><AF afid="0">0<password>12345</password><armteleid>0<telegram telegramid="0">0<groupaddress>10.0.1</groupaddress><type>4</type><priority>3</priority><value>1</value><model>0</model></telegram></armteleid><disarmteleid>1<telegram telegramid="1">1<groupaddress>10.0.2</groupaddress><type>4</type><priority>3</priority><value>2</value><model>0</model></telegram></disarmteleid></AF></function>
<function functionid="1">1<name>灯光控制</name><imgid>0</imgid><light lightid="0">0<name>1楼进门桶灯</name><value>1</value><type>switching</type><telegram telegramid="2">2<groupaddress>0.0.1</groupaddress><type>0</type><priority>3</priority><value>1</value><model>0</model></telegram></light><light lightid="1">1<name>1楼前厅背景灯</name><value>1</value><type>switching</type><telegram telegramid="3">3<groupaddress>0.0.2</groupaddress><type>0</type><priority>3</priority><value>1</value><model>0</model></telegram></light><light lightid="2">2<name>1楼前厅区域开关</name><value>1</value><type>switching</type><telegram telegramid="4">4<groupaddress>0.0.7</groupaddress><type>0</type><priority>3</priority><value>1</value><model>0</model></telegram></light><light lightid="3">3<name>总关</name><value>1</value><type>switching</type><telegram telegramid="5">5<groupaddress>6.0.0</groupaddress><type>0</type><priority>3</priority><value>1</value><model>0</model></telegram></light></function>
<function functionid="2">2<name>电视控制</name><imgid>6</imgid><TV tvid="0">0<name>电视控制</name></TV></function>
<function functionid="3">3<name>空调控制</name><imgid>3</imgid><AC acid="0">0<name>空调</name><settem>26</settem></AC></function></room>
        <room roomid="1">1<roomname>接待处</roomname><imgid>3</imgid>
<function functionid="4">4<name>灯光控制</name><imgid>0</imgid><light lightid="4">4<name>客厅五环蓝灯</name><value>1</value><type>switching</type><telegram telegramid="6">6<groupaddress>3.0.1</groupaddress><type>0</type><priority>3</priority><value>1</value><model>0</model></telegram></light><light lightid="5">5<name>客厅五环白灯</name><value>1</value><type>switching</type><telegram telegramid="7">7<groupaddress>3.0.2</groupaddress><type>0</type><priority>3</priority><value>1</value><model>0</model></telegram></light><light lightid="6">6<name>客厅五环桶灯</name><value>1</value><type>switching</type><telegram telegramid="8">8<groupaddress>3.0.4</groupaddress><type>0</type><priority>3</priority><value>1</value><model>0</model></telegram></light><light lightid="7">7<name>客厅区域开关</name><value>1</value><type>switching</type><telegram telegramid="9">9<groupaddress>3.2.0</groupaddress><type>0</type><priority>3</priority><value>1</value><model>0</model></telegram></light></function>
<function functionid="5">5<name>窗帘控制</name><imgid>1</imgid><blind blindid="0">0<name>客厅窗口窗帘</name><type>shutter</type><move>10<telegram telegramid="10">10<groupaddress>1.1.4</groupaddress><type>0</type><priority>3</priority><value>1</value><model>0</model></telegram></move><stop>11<telegram telegramid="11">11<groupaddress>1.1.15</groupaddress><type>0</type><priority>3</priority><value>1</value><model>0</model></telegram></stop></blind></function>
<function functionid="6">6<name>背景音乐</name><imgid>4</imgid><music musicid="0">0<palyid>12<telegram telegramid="12">12<groupaddress>6.0.0</groupaddress><type>0</type><priority>3</priority><value>1</value><model>0</model></telegram></palyid><nextid>13<telegram telegramid="13">13<groupaddress>6.0.1</groupaddress><type>0</type><priority>3</priority><value>1</value><model>0</model></telegram></nextid><nextgroupid>14<telegram telegramid="14">14<groupaddress>6.1.1</groupaddress><type>0</type><priority>3</priority><value>1</value><model>0</model></telegram></nextgroupid></music></function>
<function functionid="7">7<name>电视控制</name><imgid>6</imgid><TV tvid="1">1<name>客厅电视</name></TV></function>
<function functionid="8">8<name>机顶盒控制</name><imgid>2</imgid><TVBOX tvboxid="0">0<name>机顶盒控制</name></TVBOX></function>
<function functionid="9">9<name>空调控制</name><imgid>3</imgid><AC acid="1">1<name>客厅空调</name><settem>26</settem></AC></function>
<function functionid="10">10<name>安防控制</name><imgid>5</imgid><AF afid="1">1<password>12345</password><armteleid>15<telegram telegramid="15">15<groupaddress>7.0.1</groupaddress><type>0</type><priority>3</priority><value>1</value><model>0</model></telegram></armteleid><disarmteleid>16<telegram telegramid="16">16<groupaddress>7.0.2</groupaddress><type>0</type><priority>3</priority><value>0</value><model>0</model></telegram></disarmteleid></AF></function><function functionid="11">11<name>蓝光播放器</name><imgid>7</imgid><BP bpid="0">0<name>蓝光播放</name></BP></function></room>
        <room roomid="2">2<roomname>展示厅</roomname><imgid>7</imgid>
<function functionid="12">12<name>灯光控制</name><imgid>0</imgid><light lightid="8">8<name>影音彩灯开关</name><value>1</value><type>switching</type><telegram telegramid="17">17<groupaddress>2.0.0</groupaddress><type>0</type><priority>3</priority><value>1</value><model>0</model></telegram></light><light lightid="9">9<name>影音桶灯开关</name><value>1</value><type>switching</type><telegram telegramid="18">18<groupaddress>2.0.1</groupaddress><type>0</type><priority>3</priority><value>1</value><model>0</model></telegram></light><light lightid="10">10<name>影音上方LED开关</name><value>1</value><type>switching</type><telegram telegramid="19">19<groupaddress>2.0.2</groupaddress><type>0</type><priority>3</priority><value>1</value><model>0</model></telegram></light><light lightid="11">11<name>影音室区域开关</name><value>1</value><type>switching</type><telegram telegramid="20">20<groupaddress>2.0.4</groupaddress><type>0</type><priority>3</priority><value>1</value><model>0</model></telegram></light></function>
<function functionid="13">13<name>窗帘控制</name><imgid>1</imgid><blind blindid="1">1<name>影音窗帘开关</name><type>rollblind</type><move>21<telegram telegramid="21">21<groupaddress>2.0.5</groupaddress><type>0</type><priority>3</priority><value>1</value><model>0</model></telegram></move><stop>22<telegram telegramid="22">22<groupaddress>2.0.5</groupaddress><type>0</type><priority>3</priority><value>1</value><model>0</model></telegram></stop></blind><blind blindid="2">2<name>影音纱帘开关</name><type>rollblind</type><move>23<telegram telegramid="23">23<groupaddress>2.0.8</groupaddress><type>0</type><priority>3</priority><value>1</value><model>0</model></telegram></move><stop>24<telegram telegramid="24">24<groupaddress>2.0.8</groupaddress><type>0</type><priority>3</priority><value>1</value><model>0</model></telegram></stop></blind></function><function functionid="14">14<name>投影仪</name><imgid>7</imgid><BP bpid="1">1<name>投影仪</name></BP></function></room>
        <room roomid="3">3<roomname>卧室</roomname><imgid>1</imgid>
<function functionid="15">15<name>灯光控制</name><imgid>0</imgid><light lightid="12">12<name>卧室床上方灯</name><value>1</value><type>switching</type><telegram telegramid="25">25<groupaddress>4.0.0</groupaddress><type>0</type><priority>3</priority><value>1</value><model>0</model></telegram></light><light lightid="13">13<name>镜前灯</name><value>1</value><type>switching</type><telegram telegramid="26">26<groupaddress>4.0.1</groupaddress><type>0</type><priority>3</priority><value>1</value><model>0</model></telegram></light><light lightid="14">14<name>卧室阶梯灯</name><value>1</value><type>switching</type><telegram telegramid="27">27<groupaddress>4.0.4</groupaddress><type>0</type><priority>3</priority><value>1</value><model>0</model></telegram></light><light lightid="15">15<name>卧室镜灯</name><value>1</value><type>switching</type><telegram telegramid="28">28<groupaddress>4.2.5</groupaddress><type>0</type><priority>3</priority><value>1</value><model>0</model></telegram></light></function>
<function functionid="16">16<name>空调控制</name><imgid>3</imgid><AC acid="2">2<name>卧室空调</name><settem>26</settem></AC></function>
<function functionid="17">17<name>机顶盒控制</name><imgid>2</imgid><TVBOX tvboxid="1">1<name>卧室机顶盒</name></TVBOX></function></room>
        <room roomid="4">4<roomname>小花园</roomname><imgid>0</imgid>
<function functionid="18">18<name>灯光控制</name><imgid>0</imgid><light lightid="16">16<name>中间灯</name><value>1</value><type>switching</type><telegram telegramid="29">29<groupaddress>1.0.0</groupaddress><type>0</type><priority>3</priority><value>1</value><model>0</model></telegram></light><light lightid="17">17<name>边灯</name><value>1</value><type>switching</type><telegram telegramid="30">30<groupaddress>1.0.1</groupaddress><type>0</type><priority>3</priority><value>1</value><model>0</model></telegram></light><light lightid="18">18<name>花园区域开关</name><value>1</value><type>switching</type><telegram telegramid="31">31<groupaddress>1.0.3</groupaddress><type>0</type><priority>3</priority><value>1</value><model>0</model></telegram></light><light lightid="19">19<name>还园调光</name><value>1</value><type>dimmer</type><telegram telegramid="32">32<groupaddress>1.0.8</groupaddress><type>4</type><priority>3</priority><value>1</value><model>0</model></telegram></light></function>
<function functionid="19">19<name>背景音乐</name><imgid>7</imgid><music musicid="1">1<palyid>33<telegram telegramid="33">33<groupaddress>10.0.0</groupaddress><type>0</type><priority>3</priority><value>1</value><model>0</model></telegram></palyid><nextid>34<telegram telegramid="34">34<groupaddress>10.0.1</groupaddress><type>0</type><priority>3</priority><value>1</value><model>0</model></telegram></nextid><nextgroupid>35<telegram telegramid="35">35<groupaddress>10.0.2</groupaddress><type>0</type><priority>3</priority><value>1</value><model>0</model></telegram></nextgroupid></music></function></room>
        <room roomid="5">5<roomname>浴室</roomname><imgid>5</imgid>
<function functionid="20">20<name>灯光控制</name><imgid>0</imgid><light lightid="20">20<name>浴室灯</name><value>1</value><type>switching</type><telegram telegramid="36">36<groupaddress>4.1.1</groupaddress><type>0</type><priority>3</priority><value>1</value><model>0</model></telegram></light><light lightid="21">21<name>排气扇</name><value>1</value><type>switching</type><telegram telegramid="37">37<groupaddress>4.2.2</groupaddress><type>0</type><priority>3</priority><value>1</value><model>0</model></telegram></light><light lightid="22">22<name>镜灯</name><value>1</value><type>switching</type><telegram telegramid="38">38<groupaddress>4.2.5</groupaddress><type>0</type><priority>3</priority><value>1</value><model>0</model></telegram></light></function></room>
        <room roomid="6">6<roomname>厨房间</roomname><imgid>2</imgid>
<function functionid="21">21<name>灯光控制</name><imgid>0</imgid><light lightid="23">23<name>厨房间边上灯</name><value>1</value><type>switching</type><telegram telegramid="39">39<groupaddress>3.7.0</groupaddress><type>0</type><priority>3</priority><value>1</value><model>0</model></telegram></light></function>
<function functionid="22">22<name>窗帘控制</name><imgid>1</imgid><blind blindid="3">3<name>厨房间百叶窗</name><type>shutter</type><move>40<telegram telegramid="40">40<groupaddress>3.4.0</groupaddress><type>0</type><priority>3</priority><value>1</value><model>0</model></telegram></move><stop>41<telegram telegramid="41">41<groupaddress>3.4.0</groupaddress><type>0</type><priority>3</priority><value>1</value><model>0</model></telegram></stop></blind></function>
<function functionid="23">23<name>安防控制</name><imgid>6</imgid><AF afid="2">2<password>12345</password><armteleid>42<telegram telegramid="42">42<groupaddress>7.0.1</groupaddress><type>0</type><priority>3</priority><value>1</value><model>0</model></telegram></armteleid><disarmteleid>43<telegram telegramid="43">43<groupaddress>7.0.0</groupaddress><type>0</type><priority>3</priority><value>0</value><model>0</model></telegram></disarmteleid></AF></function></room>
        <room roomid="7">7<roomname>阁楼办公区</roomname><imgid>7</imgid>
<function functionid="24">24<name>灯光控制</name><imgid>0</imgid><light lightid="24">24<name>阁楼里灯</name><value>1</value><type>switching</type><telegram telegramid="44">44<groupaddress>5.0.2</groupaddress><type>0</type><priority>3</priority><value>1</value><model>0</model></telegram></light><light lightid="25">25<name>阁楼外灯</name><value>1</value><type>switching</type><telegram telegramid="45">45<groupaddress>5.0.1</groupaddress><type>0</type><priority>3</priority><value>1</value><model>0</model></telegram></light><light lightid="26">26<name>阁楼区域开关</name><value>1</value><type>switching</type><telegram telegramid="46">46<groupaddress>5.0.4</groupaddress><type>0</type><priority>3</priority><value>1</value><model>0</model></telegram></light></function>
<function functionid="25">25<name>背景音乐</name><imgid>4</imgid><music musicid="2">2<palyid>47<telegram telegramid="47">47<groupaddress>10.0.0</groupaddress><type>0</type><priority>3</priority><value>1</value><model>0</model></telegram></palyid><nextid>48<telegram telegramid="48">48<groupaddress>10.0.1</groupaddress><type>0</type><priority>3</priority><value>1</value><model>0</model></telegram></nextid><nextgroupid>49<telegram telegramid="49">49<groupaddress>10.0.2</groupaddress><type>0</type><priority>3</priority><value>1</value><model>0</model></telegram></nextgroupid></music></function></room>
    </rooms>
</configlist>